DB_CORE_HOST=
DB_CORE_PORT=
DB_CORE_USER=
DB_CORE_PASS=
DB_CORE_NAME=coredb

DB_AUTH_HOST=
DB_AUTH_PORT=
DB_AUTH_USER=
DB_AUTH_PASS=
DB_AUTH_NAME=authdb

DATABRICKS_HOST=
DATABRICKS_HTTP_PATH=
DATABRICKS_TOKEN=
DATABRICKS_CATALOG=workspace
DATABRICKS_SCHEMA_CORE=bronze_core
DATABRICKS_SCHEMA_AUTH=bronze_auth
